
ArvatoApp/.vs/ArvatoApp/v17/.futdcache.v1
ArvatoApp/.vs/ArvatoApp/v17/.suo
ArvatoApp/.vs/ArvatoApp/v17/TestStore/0/testlog.manifest
ArvatoApp/.vs/ArvatoApp/v17/TestStore/0/001.testlog
ArvatoApp/.vs/ArvatoApp/DesignTimeBuild/.dtbcache.v2
ArvatoApp/bin/Debug/net6.0/appsettings.Development.json
ArvatoApp/bin/Debug/net6.0/appsettings.json
ArvatoApp/bin/Debug/net6.0/ArvatoApp.deps.json
ArvatoApp/bin/Debug/net6.0/ArvatoApp.dll
ArvatoApp/bin/Debug/net6.0/ArvatoApp.exe
ArvatoApp/bin/Debug/net6.0/ArvatoApp.pdb
ArvatoApp/bin/Debug/net6.0/ArvatoApp.runtimeconfig.json
ArvatoApp/bin/Debug/net6.0/ArvatoApp.staticwebassets.runtime.json
ArvatoApp/bin/Debug/net6.0/bundleconfig.json
ArvatoApp/bin/Debug/net6.0/Humanizer.dll
ArvatoApp/bin/Debug/net6.0/libman.json
ArvatoApp/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ArvatoApp/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
ArvatoApp/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
ArvatoApp/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
ArvatoApp/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
ArvatoApp/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
ArvatoApp/bin/Debug/net6.0/wwwroot/css/site.min.css
ArvatoApp/bin/Debug/net6.0/wwwroot/js/site.min.js
ArvatoApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ArvatoApp/obj/Debug/net6.0/apphost.exe
ArvatoApp/obj/Debug/net6.0/ArvatoApp.AssemblyInfo.cs
ArvatoApp/obj/Debug/net6.0/ArvatoApp.AssemblyInfoInputs.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.assets.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.csproj.AssemblyReference.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.csproj.BuildWithSkipAnalyzers
ArvatoApp/obj/Debug/net6.0/ArvatoApp.csproj.CopyComplete
ArvatoApp/obj/Debug/net6.0/ArvatoApp.csproj.CoreCompileInputs.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.csproj.FileListAbsolute.txt
ArvatoApp/obj/Debug/net6.0/ArvatoApp.dll
ArvatoApp/obj/Debug/net6.0/ArvatoApp.GeneratedMSBuildEditorConfig.editorconfig
ArvatoApp/obj/Debug/net6.0/ArvatoApp.genruntimeconfig.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.GlobalUsings.g.cs
ArvatoApp/obj/Debug/net6.0/ArvatoApp.MvcApplicationPartsAssemblyInfo.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.pdb
ArvatoApp/obj/Debug/net6.0/ArvatoApp.RazorAssemblyInfo.cache
ArvatoApp/obj/Debug/net6.0/ArvatoApp.RazorAssemblyInfo.cs
ArvatoApp/obj/Debug/net6.0/project.razor.json
ArvatoApp/obj/Debug/net6.0/ref/ArvatoApp.dll
ArvatoApp/obj/Debug/net6.0/refint/ArvatoApp.dll
ArvatoApp/obj/Debug/net6.0/scopedcss/bundle/ArvatoApp.styles.css
ArvatoApp/obj/Debug/net6.0/scopedcss/Pages/Shared/_Layout.cshtml.rz.scp.css
ArvatoApp/obj/Debug/net6.0/scopedcss/projectbundle/ArvatoApp.bundle.scp.css
ArvatoApp/obj/Debug/net6.0/staticwebassets.build.json
ArvatoApp/obj/Debug/net6.0/staticwebassets.development.json
ArvatoAppTest/bin/Debug/net6.0/appsettings.Development.json
ArvatoAppTest/bin/Debug/net6.0/appsettings.json
ArvatoAppTest/bin/Debug/net6.0/ArvatoApp.deps.json
ArvatoAppTest/bin/Debug/net6.0/ArvatoApp.dll
ArvatoAppTest/bin/Debug/net6.0/ArvatoApp.exe
ArvatoAppTest/bin/Debug/net6.0/ArvatoApp.pdb
ArvatoAppTest/bin/Debug/net6.0/ArvatoApp.runtimeconfig.json
ArvatoAppTest/bin/Debug/net6.0/ArvatoApp.staticwebassets.runtime.json
ArvatoAppTest/bin/Debug/net6.0/ArvatoAppTest.deps.json
ArvatoAppTest/bin/Debug/net6.0/ArvatoAppTest.dll
ArvatoAppTest/bin/Debug/net6.0/ArvatoAppTest.pdb
ArvatoAppTest/bin/Debug/net6.0/ArvatoAppTest.runtimeconfig.json
ArvatoAppTest/bin/Debug/net6.0/bundleconfig.json
ArvatoAppTest/bin/Debug/net6.0/Castle.Core.dll
ArvatoAppTest/bin/Debug/net6.0/CoverletSourceRootsMapping
ArvatoAppTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/libman.json
ArvatoAppTest/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
ArvatoAppTest/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
ArvatoAppTest/bin/Debug/net6.0/Moq.dll
ArvatoAppTest/bin/Debug/net6.0/Newtonsoft.Json.dll
ArvatoAppTest/bin/Debug/net6.0/NuGet.Frameworks.dll
ArvatoAppTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/testhost.dll
ArvatoAppTest/bin/Debug/net6.0/testhost.exe
ArvatoAppTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/wwwroot/css/site.min.css
ArvatoAppTest/bin/Debug/net6.0/wwwroot/js/site.min.js
ArvatoAppTest/bin/Debug/net6.0/xunit.abstractions.dll
ArvatoAppTest/bin/Debug/net6.0/xunit.assert.dll
ArvatoAppTest/bin/Debug/net6.0/xunit.core.dll
ArvatoAppTest/bin/Debug/net6.0/xunit.execution.dotnet.dll
ArvatoAppTest/bin/Debug/net6.0/xunit.runner.reporters.netcoreapp10.dll
ArvatoAppTest/bin/Debug/net6.0/xunit.runner.utility.netcoreapp10.dll
ArvatoAppTest/bin/Debug/net6.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
ArvatoAppTest/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
ArvatoApp/.vs/ArvatoApp/config/applicationhost.config
ArvatoAppTest/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.AssemblyInfo.cs
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.AssemblyInfoInputs.cache
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.assets.cache
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.csproj.AssemblyReference.cache
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.csproj.BuildWithSkipAnalyzers
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.csproj.CopyComplete
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.csproj.CoreCompileInputs.cache
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.csproj.FileListAbsolute.txt
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.dll
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.GeneratedMSBuildEditorConfig.editorconfig
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.genruntimeconfig.cache
ArvatoAppTest/obj/Debug/net6.0/ArvatoAppTest.pdb
ArvatoAppTest/obj/Debug/net6.0/ref/ArvatoAppTest.dll
ArvatoAppTest/obj/Debug/net6.0/refint/ArvatoAppTest.dll
